*{
    margin: 0;
    padding: 0;
}

/*Aca va todo lo de la barra de navegacion*/

.navegacion{
    background-color: #024C79;
    box-shadow: 0 0px 50px 0 rgba(0,0,0,0.10), 0 0px 20px 0 rgba(0,0,0,0.30);
}

.navbar-nav > li{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Comfortaa', cursive;
}  

.navbar-light .navbar-nav .nav-link {
    color: #D9D9D9;
  }

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #E76A1C;
    text-shadow: 0 7px 7px #024C79, 0 0 0 black;
  }

.logo{
    width: 300px;
    height: auto;
}

.navbar-toggler{
    background-color: #D9D9D9;
    border-radius: 10%;
    border-color: #E76A1C;
    box-shadow: 0 0px 50px 0 rgba(0,0,0,0.10), 0 6px 20px 0 rgba(0,0,0,0.30);
}

.navbar-light .navbar-toggler  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2, 76, 121, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.textito{
    margin: 12px;
    color: #D9D9D9;
    font-family:'Cabin', sans-serif ;
}

/*Botones*/

.btn{
    background-color: #024C79;
    color: #D9D9D9;
    border-color: transparent;
    box-shadow: 0 4px 10px 6px rgba(0,0,0,0.14), 0 8px 20px 0 rgba(0,0,0,0.32);
    border-radius: 17px;
    font-family:'Cabin', sans-serif;
}

.btn-primary{
     display: flex;
    justify-content: center;
}

.btn:hover{
    background-color: #F36E11;
    transform: scale(1.1);
    transition: 1s;
    border-color: transparent;
}

/*Carrusel*/

.carousel-inner{
    box-sizing: border-box;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.10), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-x: hidden;
}


.texto{
    border-radius: 7px;
    color:#F36E11;
    font-size: 4vw;
    font-family:'Comfortaa', cursive;
    text-shadow: 0 3px 3px black, 0 0 0 #000;
    margin-bottom: 2vw;
}
.fondo_letra{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
}


/*Cards*/

.card{
    margin: auto;
    float: none; 
    margin-top: 20px;
    margin-bottom: 20px; 
    box-sizing: border-box;
    box-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.14), 0 8px 20px 0 rgba(0, 0, 0, 0.32); 
}


.card-title{
    text-align: center;
    font-family:'Cabin', sans-serif;
    color: #F36E11;
    font-weight: 1.8px;
    margin: 10px 0px 15px 0px;
    text-shadow: 0 1px 0px black;
}



.card-body{
    background-color: #CFCFCD;
    border-radius: 7px;
}

.card-text{
    font-weight: 11.5vw;
    text-align: center;
    font-family:'Comfortaa', cursive ;
    text-shadow: 0 0px 1px black, 0 0 0 #000;
}


/*Aca estan los titulos*/

.titulo{
    text-align: center;
    font-family:'Cabin', sans-serif;
    color: #F36E11;
    font-weight: 1.8px;
    margin: 20px 9px 35px 5px;
    padding-top: 5px;
    text-shadow: 0 1px 0px black;
}


/*Aca va todo lo de Nosotros*/
.sectionNosotros{
    overflow-x: hidden;
}
.parrafoMargin{
    margin-top: 15px;
    padding-left: 5px;
}
.p1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CFCFCD;
}

.instalaciones{
    width: 500px;
    height: 350px;
    margin: 10px 10px 20px 20px;
    background-color: #CFCFCD;
}

.nobel{
    width: 600px;
    height: 380px;
    margin: 5px 5px 2px 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #CFCFCD;
}

.sectionNosotros{
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #CFCFCD;
    border-radius: 2px;
}

.perros{
    border-color: #F36E11;
    border-width: 2px;
    background-color: #CFCFCD;
    width: 600px;
    height: 350px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}




/*Aca va la seccion contactos*/

.sede{
    background-color: #CFCFCD;
}

.mapa{
    background-size: cover;
    background-position: center;
    width:600px; 
    height:450px;
}

.t1{
    text-align: center;
    margin-top: 25px;
}

.list-group{
    justify-content: center;
    padding-bottom: 10px;
    border-radius: 10px;
}

.list-group-item{
    background-color: white;
    color: #E76A1C;
    font-family:'Cabin', sans-serif;
}

.tel{
    color: black;
    
}

.sectionContacto2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
}



/*Estos son los iconos de redes sociales*/

.buttons {
    padding: 20px;
    min-width: 100px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #CFCFCD;
    color: #024C79;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s;
  }
  
.buttons a:hover {
    transform: scale(1.1);
  }

.buttons a:hover{
      color: #E76A1C;
      transition: 1s;
  }

/*Aca va la seccion de voluntariados*/

.parrafo{
    padding: 10px 10px 10px 10px;
    font-family: 'Comfortaa', cursive ;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 17px;
    height: 100%;
    width: 100%;
    background-color: #CFCFCD;
}

.embed-responsive{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}
.formulario{
    font-family: 'Comfortaa', cursive ;
    background-color: #CFCFCD;
    border-radius: 8px;
    
}

.fondo{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.fondo div label input{
    display: flex;
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    border-color: #E76A1C;
    border-width: 2px;
}
.gen{
    display: flex;
    border-color: #E76A1C;
    border-width: 2px;
}
.fondo div{
    margin: 15px;
}

/*Aca va el footer*/

.pie{
    margin-top: 30px;
    font-family:'Comfortaa', cursive;
}













/*Aca empiezan los media queries para pantallas como tablet */

@media screen and (max-width:768px) {
    .titulo{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    /*Nosotros*/
     .sectionNosotros{
        display: flex;
        flex-direction: column;
        margin: 20px 0px 20px 0px;
        box-sizing: border-box;
    }
    .instalaciones{
        width: 350px;
        height: 200px;
    }
    .nobel{
        width: 350px;
        height: 200px;
        margin-bottom: 10px;
    }
    .perros{
        width: 350px;
        height: 200px;
        margin-top: 10px;
    }
    .p1{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .parrafoMargin{
        margin-top: 10px;
        width: 200px;
        width: auto;
    }
    /*Contacto*/
    .sectionContacto1{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 10px;
        justify-content: center;
    }
}

/*Aca empiezan las media queries para las pantallas como celulares*/

@media screen and(max-width:480px) {
    .titulo{
       align-items: center;
    }
    /*nosotros*/
    .sectionNosotros{
        display: flex;
        flex-direction: column;
    }
        

    .p1{
        padding-right: 100px;
    }


    /*contacto*/
    .sectionContacto1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*voluntariados*/
   .sectionVoluntariados1{
    width: 95vw;
    }

    .formulario{
    width: 100%;
    }
    .fondo div label input{
        width: 5vw;
        height: 5vh;
    }

}
